/* Fonts */
	@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed&subset=cyrillic';
/* /Fonts */
/* Setting */
	body {
		padding-top: 50px;
		padding-bottom: 20px;
	}
/* /Setting */
/* Navigation */
	.navbar .nav li a {
		font-size: 18px;
		font-family: 'Roboto Condensed', sans-serif;
	}
	.navbar .navbar-brand {
		font-size: 20px;
		font-family: 'Roboto Condensed', sans-serif;
	}
/* /Navigation */
/* Description */
	.jumbotron h3 {
		text-align: center;
		font-family: 'Roboto Condensed', sans-serif;
		font-size: 26px;
	}
/* /Description */
/* Control */
	table th, table td {
		text-align: center;
		font-family: 'Roboto Condensed', sans-serif;
		font-size: 18px;
	}
	.img_on {
		display: none;
	}
	input[type="text"]
	{
		font-size: 18px;
	}
/* /Control */
/* Footer */
	footer p {
		text-align: center;
		font-family: 'Roboto Condensed', sans-serif;
		font-size: 18px;
	}
/* /Footer */